.bottom-part{
  margin-top: 17px;
  background-color: #000;
}
.footer-title{
  font-family: $boldFont;
  color: $text-footer-bold-color;
  text-transform: uppercase;
  padding-top: 25px;
  font-size: 16px;
  line-height: 22px;
}
.footer-text{
  font-family: $fontNormal;
  font-size: 16px;
  line-height: 28px;
  color: $text-footer-main-color;
  width: 684px;
  margin: 22px auto;
}
.footer-social-icons{
  margin-top: 37px;
  margin-bottom: 34px;
}
.contacts{
  font-family: $fontNormal;
  font-size: 16px;
  line-height: 26px;
  color: #B9B9B9;
  padding-bottom: 70px;
  margin: 0 auto;
}