.main-image{
  margin-top: 118px;
  text-align: center;
}
.title-recent-posts{
  text-align: left;
  font-family: $boldFont;
  font-size: 16px;
  line-height: 22px;
  margin-left: 15px;
  margin-top: 66px;
  margin-bottom: 24px;
  text-transform: uppercase;
}
.container-for-posts{
  @include flex-center;
  flex-wrap: wrap;
}
.each-post{
  display: flex;
  margin-left: 1px;
  width: 49%;
  margin-bottom: 32px;
}
.text{
  margin-left: 20px;
}
.post-name{
  font-family: $boldFont;
  color: $text-bold-color;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 13px;
  text-align: left;
}
.post-comments{
  font-family: $fontNormal;
  color: $text-comments-color;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 13px;
  text-align: left;
}
.post-text{
  font-family: $fontNormal;
  color: $text-main-color;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
}