@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: RobotoB;
  src: url("../fonts/Roboto-Bold.ttf") format('truetype');
}