@import "fonts";
@import "mixins";
@import "variables";
@import "sections/_button";
@import "sections/_footer";
@import "sections/_for-nav-bar";
@import "sections/_main";

html body{
  overflow-x: hidden;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.container{
  width: 100%;
}
@media (max-width: 768px) {
  .menu-btn{
    display: none;
  }
  .nav-bar{
    display: flex;
    margin-top: 41.5px;
  }
  .nav-bar-item{
    font-family: $fontNormal;
    color: $text-main-color;
    font-size: 11px;
    line-height: 22px;
    text-transform: uppercase;
    margin-left: 30px;
  }
  .nav-bar-item:hover{
    color: #57A4A4;
  }
  .main-image{
    margin-top: 42.5px;
  }
  .main-picture{
    width: 768px;
    height: 361px;
  }
  .nav-bar-nav{
    @include flex-center-row;
  }
  .title-recent-posts{
    margin-top: 56px;
  }
  .each-post{
    width: 100%;
  }
  .post-text{
    width: 404px;
  }
}
@media (max-width: 320px) {
  .nav-bar{
    margin-top: 23px;
  }
  .menu-btn{
    display: flex;
  }
  .menu-btn{
    position: relative;
    margin-left: auto;
    margin-right: 0;
  }
  .nav-bar-nav{
    position: absolute;
    flex-direction: column;
    text-align: left;
    margin-left: 138px;
    width: 182px;
    background-color: #fff;
    transition: 0.5s;
    transform-origin: top center;
    transform: scaleY(0) translateY(20%);
    opacity: 0;
  }
  .nav-bar-nav_active{
    transform: scaleY(1) translateY(0%);
    opacity: 1;
  }
  .nav-bar-item{
    margin-left: 0;
    padding-left: 13px;
    font-size: 11px;
    line-height: 22px;
    border-bottom: 2px solid #F5F5F5;
    text-transform: uppercase;
  }
  .nav-bar-item:hover{
    background-color: #F5F5F5;
  }
  .main-image{
    margin-top: 23px;
  }
  .main-picture{
    width: 320px;
    height: 150px;
  }
  .title-recent-posts{
    margin-left: 0;
  }
  .each-post{
    display: block;
    text-align: left;
    margin-bottom: 28.5px;
  }
  .text{
    margin-left: 0;
    margin-top: 11px;
  }
  .title-recent-posts{
    margin-top: 38px;
    margin-bottom: 23px;
  }
  .post-name{
    margin-bottom: 0;
  }
  .post-text{
    display: none;
  }
  .footer-title{
    padding-top: 38px;
  }
  .footer-text{
    width: 303px;
    font-size: 12px;
    line-height: 20px;
  }
  .contacts{
    font-size: 14px;
    line-height: 24px;
    width: 212px;
    padding-bottom: 47px;
  }
}