$text-bold-color: #4E4E4E;
$text-main-color: #5C5C5C;
$text-comments-color: #7C7C7C;
$text-footer-bold-color: #FEFEFE;
$text-footer-main-color: #B9B9B9;

$fontNormal: 'RobotoRegular';
$boldFont: 'RobotoB';